attrs==25.3.0
Automat==25.4.16
cffi==1.17.1
constantly==23.10.4
cryptography==44.0.3
future==1.0.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pyOpenSSL==25.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pywin32==310
pywinstyles==1.8
qt4reactor==1.6
qt5reactor==0.6.3
rdpy @ file:///C:/Users/mcanto/Desktop/mTabs/rdpy-master
rdpy3==3.0.4
rsa==4.9.1
service-identity==24.2.0
setuptools==80.3.1
Twisted==24.11.0
typing_extensions==4.13.2
zope.interface==7.2
